<html>
    <body>
    <h1>xxx</h1>
    <ul>
    {% for c in node.childlist %}
    <li><a href="{{c.url}}">{{ c.title }}</a>
        <ul>
        {% for i in c.childlist %}
            <a href="{{i.url}}">{{ i.slug }}</a>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
    </ul>
    </body>
</html>
